.git
.github
node_modules
**/node_modules
.next
**/.next
.venv
**/__pycache__
.turbo
**/.turbo
.env
.env.*
env_backup
*_backup
docs
deploy
scripts
*.md
.ruff_cache
.pytest_cache
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo
celerybeat-schedule*
.DS_Store
